@model IEnumerable<Fostr.Models.AnimalTutor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Pets</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-primary text-decoration-none">Create New</a>
</p>
<div class="row justify-content-between">
    @foreach (var animal in Model)
    {
        @if (animal.UserId == ViewBag.UserLogado)
        { 
            <div class="card col-12 col-md-4 p-0 card-custom mt-3">
                <img src="~/images/@animal.Animal.Image" class="card-img-top card-img-custom " alt="@animal.Animal.Description">
                <div class="card-body">
                    <h5 class="card-title">@animal.Animal.Name</h5>
                    <p class="card-text">@animal.Animal.Description</p>
                    <a asp-action="Details" asp-route-id="@animal.AnimalId " type="button" class="btn btn-primary text-decoration-none">Details</a>
                </div>
            </div>
        }
    }
</div>
